* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #111111;
  font-family: Arial, Helvetica, sans-serif;
}

.grid {
  height: 400px;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
}

.grid div {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  background-color: rgb(71, 214, 233);

  box-shadow: 0px 0px 10px rgba(71, 214, 233, 1);
  transition: 1s ease-in-out;
  color: white;
  font-weight: 700;
}

.checked {
  background-color: rgba(0, 57, 95, 0.1) !important;
  box-shadow: none !important;
  transform: scale(0.8);
  border: 1px solid rgb(59, 178, 194);
}

/* .bomb {
  background-color: red;
} */
