@import url('https://fonts.googleapis.com/css2?family=Nova+Flat&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(bg.jpg);

  background-size: cover;
  background-position: center;
  font-family: 'Nova Flat', cursive;
}

.loadscreen {
  background-color: black;
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 1s;
}

.load-wheel {
  position: relative;
  width: 20vw;
}

.load-wheel img {
  width: 100%;
}

.menu-item {
  color: rgb(70, 245, 79);
  text-shadow: 0 0 10px rgba(70, 245, 79, 1);
  font-size: 3rem;
  text-align: center;
  opacity: 0;
  display: none;
  transition: 1s;
  cursor: pointer;
  user-select: none;
  border: 2px solid rgb(70, 245, 79);
  box-shadow: 0px 0px 50px rgb(70, 245, 79);
  padding: 1rem;
  border-radius: 10px;
}

.menu-screen {
  background-color: rgba(17, 4, 29, 0.9);
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 500;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 1s;
}

.menu-screen ul {
  width: 50vw;
  color: white;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 40px;
}

.menu-screen ul li {
  font-size: 2rem;
  cursor: pointer;
  user-select: none;
}

.menu-screen ul li:hover {
  color: rgb(70, 245, 79);
  text-shadow: 0 0 10px rgba(70, 245, 79, 1);
}

.settings-bar {
  display: flex;
  background-color: rgba(0, 92, 95, 0.3);
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: white;
  padding: 0 5px;
}

.settings-bar .btn {
  padding: 10px 5px;
}

#particle-div {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;
  animation: flash 3s infinite alternate-reverse;
}

.grid {
  position: relative;
  height: 400px;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  z-index: 1;
}

.grid div {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  background-color: rgba(0, 92, 95, 0.3);
  border: 1px solid rgb(59, 178, 194);
  box-shadow: 0px 0px 10px rgba(77, 234, 255, 0.3);
  transition: 0.2s;
  font-weight: 700;
  transform: scale(0.8) rotate(-90deg);
  position: relative;
  z-index: 10;
}

.grid div:hover {
  box-shadow: 0px 0px 20px rgba(71, 214, 233, 1);
  background-color: rgba(59, 178, 194, 0.7);
  transform: scale(0.9) rotate(-90deg);
}

.checked {
  transition: 1s !important;
  opacity: 0.5;
  background-color: rgba(59, 194, 66, 0.1) !important;
  box-shadow: none !important;
  transform: scale(0.6) rotate(0deg) !important;
  border: 1px solid rgb(59, 194, 66) !important;
  border-radius: 3px;
  color: rgb(70, 245, 79);
  font-size: 30px;
  cursor: auto !important;
}

.flag-block {
  width: 50%;
  height: 50%;
  background-color: rgb(255, 39, 255);
  border-radius: 5px;
}

.exploded {
  background-color: red !important;
}

.game-over {
  color: white;
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 20;
  transform: translate(-50%, -50%);
  width: 40vw;
  display: none;
  opacity: 0;
  transition: 1s;
}

.game-over img {
  width: 100%;
}

@keyframes flash {
  from {
    background-color: rgba(0, 0, 0, 0.5);
  }
  to {
    background-color: transparent;
  }
}
