body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid {
  height: 400px;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: darkgrey;
  border: 1px solid black;
}

.grid div {
  height: 40px;
  width: 40px;
  background-color: red;
}

.grid div:hover {
  background-color: darkred;
}
